/* --> skills css  */
.skills-divider {
  width: 60px;
  height: 4px;
  background: linear-gradient(90deg, #0d6efd, #6f42c1);
  border-radius: 2px;
}

.expertise-card {
  background: linear-gradient(90deg, #e9f2ff, #f5e9ff);
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  cursor: default;
}

.expertise-card:hover {
  background: linear-gradient(90deg, #d9eaff, #ecd9ff);
  transform: translateY(-3px);
}
/* --> skills css   end */

/* projects css */
.projects-divider {
  width: 60px;
  height: 4px;
  background: linear-gradient(90deg, #0d6efd, #6f42c1);
  border-radius: 2px;
}

.project-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 500px;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.project-img {
  object-fit: cover;
  transition: transform 0.5s ease;
height: 200px !important;

}

.project-card:hover .project-img {
  transform: scale(1.05);
}
/* projects css */

/* contact css  */
.btn.rounded-circle {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;

}
/* contact css  */


/* footer css  */
footer{
  background-color: rgb(36, 33, 78);
 /* background-color:  rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important; */
 color: rgb(255, 255, 255) !important;
}

footer p{
  color: white !important;
}